page-interna-product {
    ion-badge{
        width: 100%;
    }
    div.toolbar-title{
        padding-left: 0px !important;
        width: 220px !important;
    }
    .item-inner{
        border-bottom: none !important;
    }
    div p{
        font-size: 1rem !important;
    }
    div h3{
        color: map-get($colors, royal);
    }

    h2.price{
        color: map-get($colors, royal);
    }
    ion-footer{
        div.toolbar-content{
            text-align: center;
        }
    }
    button.agregar{
        width: 180px;
        height: 40px;
    }
}
