page-login {
    .scroll-content{
        background: linear-gradient(to bottom, #108ccc  0%, #bd05dd 100%);
    }

    .vertical-align-content > *
    {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }

    ion-item.top{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    ion-item.botton{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
