page-modal {
    .scroll-content{
        background: linear-gradient(to bottom,  #bd05dd 0%, #108ccc 100%);
    }
    .vertical-align-content > *
    {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
    .img1{
        max-width: 80% !important;
    }
    .img2{
        max-width: 60% !important;
    }

    img.img3{
       height: 31px !important;
       width: 32px !important;
    }
}
