page-home {
    /* div.slide-zoom{
        height: 220px;
    } */
    .slideBanner{
        height: 205px;
    }
    .banner{
        background-size: cover;
    }
    .fixed{ 
        position: fixed; 
    } 
    .button-fab {
         z-index: 100; 
        }
    ion-fab[middle]{
        margin-top: -90px !important;
    }
    ion-badge.badge.comprar{
        width: 86px;
        height: 36px;
    }
    .fab{
        border-radius: 2px !important;
    }

    button.slidebutton{
        background-color: transparent;
    }

    ion-badge.buttonSlide{
        z-index: 1000 !important;
    }
    
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets{
        background-color: #8560b3;
        bottom: 0px;

    }

    .swiper-pagination-bullet-active{
        background: white !important;
    }

    ion-row {
        text-align: center;
    }
    
    ion-badge.apply{
        width: 100%;
    }
    div p{
        font-size: 1rem !important;
    }
    div h3{
        color: map-get($colors, royal);
    }

    .item-inner{
        border-bottom: none !important;
    }
    .marcasContent{
        height: 100px;
    }
    ion-card ion-card-contet.marcasContent{
        height: 100px !important;
    }
    ion-card.cardProduct{
        width: 120px !important;
        padding-bottom: 0px !important;
    }

    ion-card.cards-list-demo ion-card-header {
        color: map-get($colors, royal);
    }
    ion-card.cards-list-demo{
        display: initial;
    }

    .imgProduct{
        width: 100px;
        height: 100px;
        background-size: cover;
        margin: 8px auto;
    }

    .buyProduct{
        height: 30px;
        width: 90px;
        font-size: 1em;
    }

    .slidebutton{
        color: map-get($colors, button )
    }
    page-home .slideBanner {
        height: 221px!important;
    }
}
