page-shop-cart {
    .completed
	{
		text-decoration: line-through;
	}

	.row-completed
	{
		background-color: #F0F0F0;
    }
    
    .royal{
        color: map-get($colors, add)
    }

    .align-items-flex-end {
        align-items: flex-end;
        -webkit-align-items: flex-end;
    }

    .lineaTotal{
        border-bottom: 1px solid map-get($colors, light)
    }
    .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
        color: rgb(189, 5, 221)!important;
    }
}
