// http://ionicframework.com/docs/theming/
.splash{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.spinner{
    background: url('../assets/imgs/índice.svg') no-repeat;
    width: 40vw;
    height: 40vw;
    background-color: #ffffff;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Custom icons
// Overriding the ion-icon behavior
// All custom icons will start with "appname-" prefix
@font-face{
    font-family: Open;
    src: url('../assets/fonts/roboto.woff2');
}
*{
    font-family: Open;
    ion-card{
        box-shadow: 0px 0px 30px -4px rgba(128,128,128,1) !important;
    }
}

ion-icon {
    &[class*="mascotapp-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="mascotapp-carrito"] {
        mask-image: url('../assets/imgs/elementos/iconos menu footer fix/carrito.svg');
    }
    &[class*="mascotapp-favoritos"] {
        mask-image: url('../assets/imgs/elementos/iconos menu footer fix/icono2.png');
    }
    &[class*="mascotapp-home"] {
        mask-image: url('../assets/imgs/elementos/iconos menu footer fix/home.svg');
    }
    &[class*="mascotapp-pendientes"] {
        mask-image: url('../assets/imgs/elementos/iconos menu footer fix/pendientes.svg');
    }
    &[class*="mascotapp-mas"] {
        mask-image: url('../assets/imgs/elementos/iconos menu footer fix/mas.svg');
    }
    &[class*="mascotapp-dia"] {
        mask-image: url('../assets/imgs/elementos/calendario.svg');
    }
    &[class*="mascotapp-hora"] {
        mask-image: url('../assets/imgs/elementos/reloj.svg');
    }
    &[class*="mascotapp-urg"] {
        mask-image: url('../assets/imgs/elementos/urgente.svg');
    }
    &[class*="mascotapp-msj"] {
        mask-image: url('../assets/imgs/elementos/mensaje.svg');
    }
    &[class*="mascotapp-adultdog"] {
        mask-image: url('../assets/imgs/perro-adulto.svg');
    }
    &[class*="mascotapp-cadog"] {
        mask-image: url('../assets/imgs/perro-cachorro.svg');
    }
    &[class*="mascotapp-adultcat"] {
        mask-image: url('../assets/imgs/gato-adulto.svg');
    }
    &[class*="mascotapp-cacat"] {
        mask-image: url('../assets/imgs/gato-cachorro.svg');
    }
    &[class*="mascotapp-soporte"] {
        mask-image: url('../assets/imgs/soporte.svg');
    }
 
}

page-home .slideBanner {
    height: 221px!important;
}
